*{
    margin: 0px;
    padding: 0px;
}

body{
    background: gray;
    color: white;
}
#contenedor1{
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#contenido2{
    
}

